* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#overall {
    border-style: dashed;
    padding: 15px
}

#sitenameholder {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sitename {
    text-align: center
}

#locationsender {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button-div {
    display: flex;
    justify-content: center;
}

button {
    margin-left: 20px;
    margin-right: 20px
}

#googleMap {
    padding: 20px;
    width: 600px;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}