* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#overall {
    border-style: dashed;
    padding: 15px
}

#sitenameholder {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sitename {
    text-align: center
}

#locationsender {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button-div {
    /* display: flex;  */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-button {
    display: flex; justify-content: center;
}

#googleMap {
    padding: 20px;
    width: 600px;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}