<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

    <p id="latitude"></p>
    <p id="longitude"></p>

    <script src = 'LocationRender.js'></script>
</head>

<body onload="getLocation()">
    <p id = "errormsg"></p>
    <div id = "addressinput"></div>
    <form action = "", methods = "post", id = "form">
        <input type ="text" name = "name" id ='name'><br>
        <input type ="text" name = "xcoord" id = 'xcoord'><br>
        <input type ="text" name = "ycoord" id ='ycoord'><br>
        <input type = "submit" value = "Submit">
    </form>

</body>

</html>