
body {
    border-style: dashed;
    height: 100%; 
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.loc-info {
    text-align: center;
}

form { 
    margin: 0 auto; 
    width:250px;
}

#submit-btn-div {
    margin-top: 10px;
    text-align: center;
}
